[submodule "deps/pypy"]
	path = deps/pypy
	url = https://github.com/rfk/pypy
[submodule "deps/emscripten"]
	path = deps/emscripten
	url = https://github.com/kripken/emscripten
[submodule "deps/emscripten-fastcomp"]
	path = deps/emscripten-fastcomp
	url = https://github.com/kripken/emscripten-fastcomp
[submodule "deps/emscripten-fastcomp-clang"]
	path = deps/emscripten-fastcomp-clang
	url = https://github.com/kripken/emscripten-fastcomp-clang
