.test-suite {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

.test-unrun {
    background-color: lightgrey;
    padding: 5px;
    margin: 5px;
}

.test-running {
    background-color: yellow;
    padding: 5px;
    margin: 5px;
}

.test-success {
    background-color: green;
    padding: 5px;
    margin: 5px;
}

.test-failure {
    background-color: red;
    padding: 5px;
    margin: 5px;
}

.test-failure-message {
    background-color: #fbb;
    padding: 5px;
}
